
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
 
label {
    width: 80px;
    display: inline-block;
}

.success{
    background-color: aqua
}
.danger{
    background-color: beige
}
