
<div>
  <h2 class="text-center">Product List</h2>
 
  <div class="table-responsive">
      <table class="table table-dark table-striped table-bordered  table-hover">
        <thead   >
          <tr class="text-center">
              <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th  colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let count = index;let i of allProducts| paginate:{itemsPerPage:5,currentPage:p}">
        
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td class="textareaTD"><textarea readonly rows="1.5" cols="15">{{i.description|titlecase  }}</textarea></td>
            <td>{{i.price|currency:'INR'}}</td>
            <td>
                <!-- [routerLink]="['/edit-product',i.id]" -->
              <button class="btn btn-primary" (click)="updateProduct(i.id)" >Edit</button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteProduct(i.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls class="pagination pagination-sm"   (pageChange)="p=$event"></pagination-controls>
</div>
<div class="text-center">
    <button class="btn btn-success" (click)="addProduct()"> Add Product</button> &nbsp;
    <button class="btn btn-danger" (click)="deleteAllProducts()">Delete All</button>
</div>

